/**
 *  页面公共弹层css
 *  @project 业务公共框架
 *  @description 命名空间：.coreui-g-layer-
 *  @version 1.0
 *  @author zhangmingrui | 592044573@qq.com
 *  @date created 2016-11-02
 */
@import "../core";

.coreui-g-layer-alert {
    background: #fff;
    color: #333;
    line-height: 1;
    text-align: center;
    width: 30%;
    min-width: 256px;
    max-width: 400px;
    border-radius: 5px;
    .body {
        .break-line();
        font-size: 16px;
        line-height: 29px;
        padding: 35px 30px 25px 30px;
    }
    .footer {
        border-top: 1px solid #d8d8d8;
        margin: 0px 8px;
        line-height: 26px;
        font-size: 18px;
        color: #007eff;
        padding-top: 14px;
        padding-bottom: 12px;
    }
}
